body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  color: #404040;
}

.wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.loading {
  display: inline-block;
  clip-path: inset(0 1.5ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

.subsection {
  height: 90vh;
  width: 90vw;
  transition: transform 0.5s;
  margin: 20px;
}

.subsection:first-child {
  margin-top: 0;
}

.subsection:last-child {
  margin-bottom: 0;
}

.subsection--home {
  background-color: #B6D8FF;
}

.subsection--work {
  background-color: #D0D8FF;
}

.subsection--about {
  background-color: #DFD2FF;
}

.subsection--contact {
  background-color: #F8D6E6;
}

.content {
  height: 90vh;
  display: flex;
  padding: 0 6vw;
}

.content--home {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content--work {
  height: 76vh;
  padding-top: 6vw;
  padding-bottom: 6vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.home__title {
  white-space: nowrap;
  overflow: hidden;
}

.media__container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.media {
  max-width: 12vw;
  border: solid 10px #FFF;
  margin: 10px;
}

.pricing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.pricing_table__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border: solid #FFF 10px;
}

.pricing {
  width: 90%;
  height: 70%;
}

th {
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  text-align: end;
  padding-left: 10px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.paragraph {
  font-size: 16px;
}

.tinytext {
  font-size: 11px;
}

@media screen and (max-width: 1024px) {
  .media {
    width: 14vw;
  }
}

@media screen and (max-width: 768px) {
  .media {
    max-width: 24vw;
  }
  th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  td {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .media {
    border: solid 5px #FFF;
    width: 60vw;
  }
  .content--work{
    height: 85vh;
  }
  .subtitle--pricing {
    font-size: 16px;
  }
  .paragraph--pricing{
    font-size: 12px;
  }
  .pricing__container {
    height: 80%;
  }
  .pricing_table__container{
    height: 100%;
    border: solid 5px #FFF;
  }
  th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  td {
    font-size: 12px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}