body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  color: #404040;
}

.wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.subsection {
  height: 90vh;
  width: 90vw;
  transition: transform 0.5s;
  margin: 20px;
}

.subsection:first-child {
  margin-top: 0;
}

.subsection:last-child {
  margin-bottom: 0;
}

.home {
  background-color: #B6D8FF;
}

.home__content {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
}

.home__text {
  display: flex;
  flex-direction: column;
}

.home__title {
  white-space: nowrap;
  overflow: hidden;
}

.media__container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.media {
  max-width: 12vw;
  border: solid 10px #FFF;
  margin: 10px;
}

.work {
  background-color: #D0D8FF;
}

.about {
  background-color: #DFD2FF;
}

.contact {
  background-color: #F8D6E6;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
}

.paragraph {
  font-size: 11px;
}

@media screen and (max-width: 1024px) {
  .media {
    width: 14vw;
  }
}

@media screen and (max-width: 768px) {
  .media {
    max-width: 24vw;
  }
}

@media screen and (max-width: 480px) {
  .home__content {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .media__container{
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
  }
  .media {
    border: solid 5px #FFF;
    max-width: 50vw;
  }
}