body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.subsection {
  height: 90vh;
  width: 90vw;
  transition: transform 0.5s;
  margin: 20px;
}

.subsection:first-child {
  margin-top: 0;
}

.subsection:last-child {
  margin-bottom: 0;
}

.home {
  background-color: #B6D8FF;
}

.work {
  background-color: #D0D8FF;
}

.about {
  background-color: #DFD2FF;
}

.contact {
  background-color: #F8D6E6;
}

.text {
  color: #404040;
}